<header class="header_wrapper">
    <div class="header_logo_wrapper">
        <a href="#" class="header_link">
            <img src="../../assets/icons/education.png" alt="Book Wrapper logo image" class="header_logo_img">
        </a>
    </div>
    <div class="header_download_wrapper">
        <button class="header_download_btn">
        <img src="../../assets/icons/orientation.png" alt="Book Wrapper download image" class="header_download_img">
      </button>
    </div>
    <div class="header_user_wrapper">
        <button class="header_user_btn">
      <img src="../../assets/icons/social-media.png" alt="Book Wrapper user image" class="header_user_img">
    </button>
    </div>
</header>