<footer class="footer_wrapper">
    <div class="footer_social_icons_wrapper">
        <a href="#" class="footer_icon_link">
            <img src="../../assets/icons/github.png" alt="Github image" class="footer_icon_img">
        </a>
        <a href="#" class="footer_icon_link">
            <img src="../../assets/icons/facebook.png" alt="Facebook image" class="footer_icon_img">
        </a>
        <a href="#" class="footer_icon_link">
            <img src="../../assets/icons/linkedin.png" alt="Linked in image" class="footer_icon_img">
        </a>
    </div>
    <div class="footer_created_by">
        <a href="" class="footer_created_by_link">Created by Me</a>
    </div>
    <div class="footer_contacts">
        <p class="footer_contacts_phone footer_contacts_text">+380960000000</p>
        <p class="footer_contacts_email footer_contacts_text">ivannaida8@gmail.com</p>
        <p class="footer_contacts_address footer_contacts_text">Ukraine, Lviv</p>
    </div>
</footer>