<div class="book_wrapper">
    <div id="wrapper" #book>
        <div id="book" [ngStyle]="rotateAngle">
            <div class="side" id="side1" [ngStyle]="sideOneStyle">1</div>
            <div class="side" id="side2" [ngStyle]="sideTwoStyle">2</div>
            <div class="side" id="side3" [ngStyle]="sideThreeStyle">3</div>
            <div class="side" id="side4" [ngStyle]="sideFourStyle">4</div>
            <div class="side" id="side5" [ngStyle]="sideFiveStyle">5</div>
            <div class="side" id="side6" [ngStyle]="sideSixStyle">6</div>
        </div>
    </div>
</div>
